:80 {
    root /opt/kitsu/dist
    index ./index.html

    proxy /socket.io zou-event:5001 {
        transparent
        websocket
        keepalive 100
    }

    rewrite {
        if {path} not_match ^/(api|socket\.io)
        to {path} {path}/  /index.html
    }
}

:80/api {
    proxy / zou-app:5000 {
        transparent
    }
}